{
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "globals": {
        "graphql": true,
        "__PATH_PREFIX__": true
    },
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "rules": {
        "array-callback-return": "off",
        "no-plusplus": "off",
        "no-console": "off",
        "no-underscore-dangle": "off",
        "no-param-reassign": "off",
        "import/prefer-default-export": "off",
        "react/prop-types": "off",
        "react-hooks/exhaustive-deps": "warn",
        "react-hooks/rules-of-hooks": "error"
    },
    "plugins": [
        "prettier",
        "jest",
        "react",
        "react-hooks"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}