body {
	@include media ('>=desktop') {
		font-size: 24px;
	}
}

#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}

a {
	@include animate(color);
}

h1, .h1 {
	@include media ('>=widescreen') {
		font-size: 50px;
	}
}

h2, .h2 {
	@include media ('>=widescreen') {
		font-size: 50px;
	}
}

h3, .h3 {
	font-weight: 400;

	@include media ('>=widescreen') {
		font-size: 35px;
	}
}

h4, .h4 {
	@include media ('>=widescreen') {
		font-size: 30px;
	}
}

h5, .h5 {
	@include media ('>=widescreen') {
		font-size: 24px;
	}
}

h6, .h6 {
	@include media ('>=widescreen') {
		font-size: 20px;
	}
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.bg-light-gray {
	background-color: $gray-200;
}

.container {
	padding: 0 15px;
	max-width: 1740px;
	margin: 0 auto;

	@include media ('>=widescreen') {
		padding: 0 30px;
	}
}

.content-section {
	padding: 80px 0;

	@include media ('>=widescreen') {
		padding: 117px 0 130px;
	}

	&.weekly-ranking {
		.container {
			max-width: 1730px;
		}

		.graph-box {
			width: 100%;
			height: 512px;
			font-size: 12px;
			color: $gray-300;

			@include media ('>=desktop') {
				font-size: 14px;
			}

			.tick {
				font-size: 12px;
				padding-bottom: 20px;

				@include media ('>=desktop') {
					font-size: 14px;
				}
			}

			.axis {
				.domain {
					visibility: hidden;
				}
			}

			.line {
				fill: none;
				stroke: $light-blue;
				stroke-width: 2;
			}

			.label {
				fill: $gray-300;
				font-size: 10px;
			}
		}
	}

	h2, .h2 {
		text-transform: uppercase;
		margin-bottom: 40px;

		@include media ('>=widescreen') {
			margin-bottom: 124px;
		}
	}

	h3, .h3 {
		@include media ('>=widescreen') {
			margin-bottom: 32px;
		}
	}
}

.country-holder {
	width: 290px;
	flex-shrink: 0;
	margin: 0 auto 30px;

	@include media ('>=tablet') {
		width: 226px;
		margin: 0;
	}

	h3 {
		font-weight: 500;
		margin-bottom: 20px;

		@include media ('>=tablet') {
			margin-bottom: 39px;
		}

		@include media ('>=widescreen') {
			font-size: 33px;
			margin-bottom: 31px;
			margin-top: 2px;
		}
	}

	.slick-controls {
		padding-top: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slick-arrow {
		@include animate(opacity);
		@include size(22px, 16px);

		background-repeat: no-repeat;
		background-size: 22px 16px;
		border: none;
		padding: 0;
		background-color: transparent;
		position: relative;
		margin: 0 5px;

		&:focus {
			outline: none;
		}

		&:hover {
			svg {
				fill: $light-blue;
			}
		}

		&.slick-disabled {
			display: none !important;
		}

		svg {
			@include animate(fill);
			@include size(22px, 16px);

			fill: $primary;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.country-slider {
	width: 100%;
	border: solid #a7a9ac;
	border-width: 0 1px;
	background-color: $gray-100;
	font-size: 17px;
	line-height: .85;
	position: relative;

	@include media ('>=widescreen') {
		font-size: 19px;
	}

	&::before {
		content: '';
		border: solid #a7a9ac;
		border-width: 1px 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: 100%;
	}

	.slick-slide {
		@include animate(color background-color border-color);

		height: 39px;
		padding: 0 5px;
		border: none;
		border-top: 1px solid #a7a9ac;
		font-weight: 600;
		color: $primary;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			background-color: $light-blue;
			border-top-color: $light-blue;
			color: $white;

			+ .slick-slide {
				border-top-color: $light-blue;
			}
		}
	}
}

.info-row {
	@include media ('>=tablet') {
		display: flex;
	}

	.info-col {
		@include media ('>=tablet') {
			width: calc(100% - 226px);
			padding-left: 20px;
		}

		@include media ('>=widescreen') {
			width: calc(100% - 386px);
			padding-left: 0;
		}

		@include media ('>=xl-large') {
			width: calc(100% - 512px);
		}
	}
}

.info-col {
	@include media ('>=tablet') {
		position: relative;
	}

	@include media ('>=widescreen') {
		margin-left: 160px;
	}

	@include media ('>=xl-large') {
		margin-left: 286px;
	}

	.country-title {
		color: $light-blue;
		font-weight: 600;
		font-size: 19px;
		line-height: 1;
		display: block;
		padding-bottom: 10px;

		@include media ('>=widescreen') {
			position: absolute;
			top: 50%;
			right: 100%;
			max-width: 160px;
			min-width: 160px;
			text-align: right;
			padding-right: 10px;
			padding-bottom: 0;
			transform: translateY(-50%);
		}

		@include media ('>=xl-large') {
			max-width: 280px;
			min-width: 280px;
		}
	}

}

.graph-box {
	border: 1px solid #a7a9ac;
	background-color: $white;

	img {
		display: block;
		width: 100%;
	}
}