body {
	@include media ('>=desktop') {
		font-size: 24px;
	}
}

#wrapper {
	overflow: hidden;
	width: 100%;
	position: relative;
}

a {
	@include animate(color);
}

h1, .h1 {
	@include media ('>=widescreen') {
		font-size: 50px;
	}
}

h2, .h2 {
	@include media ('>=widescreen') {
		font-size: 50px;
	}
}

h3, .h3 {
	font-weight: 400;

	@include media ('>=widescreen') {
		font-size: 35px;
	}
}

h4, .h4 {
	@include media ('>=widescreen') {
		font-size: 30px;
	}
}

h5, .h5 {
	@include media ('>=widescreen') {
		font-size: 24px;
	}
}

h6, .h6 {
	@include media ('>=widescreen') {
		font-size: 20px;
	}
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.bg-light-gray {
	background-color: $gray-200;
}

.container {
	padding: 0 15px;
	max-width: 1740px;
	margin: 0 auto;

	@include media ('>=widescreen') {
		padding: 0 30px;
	}
}

.content-section {
	padding: 80px 0;

	@include media ('>=widescreen') {
		padding: 117px 0 130px;
	}

	&.regional-analysis {
		.container {
			max-width: 1510px;
		}

		.graph-box {
			margin: 0 auto;
			border: none;
			max-width: 1230px;
			width: 100%;
			font-size: 23px;
			padding: 0 10px;

			svg {
				overflow: visible;
			}

			@media only screen and (max-width: 1199px) {
				font-size: 18px;
			}

			.graph-holder {
				height: 364px;
			}

			.x-axis {
				visibility: hidden;
			}

			.tick text {
				font-family: $base-font-sans-serif;
				fill: #222B3E;
				font-size: 35px;

				@media only screen and (max-width: 1199px) {
					font-size: 24px;
				}

				@media only screen and (max-width: 767px) {
					font-size: 18px;
				}
			}

			.domain {
				display: none;
			}
		}

		.total-line {
			display: flex;
			justify-content: center;
			line-height: 22px;
			color: $primary;
			font-size: 18px;

			@include media('>=tablet') {
				font-size: 24px;
				line-height: 30px;
			}

			@include media('>=widescreen') {
				font-size: 35px;
				line-height: 42px;
			}

			.text {
				background-color: $gray-100;
				display: inline-block;
				vertical-align: top;
			}

			.title {
				width: 40%;
				text-align: right;

				@include media('>=tablet') {
					width: 42%;
				}

				@include media('>=widescreen') {
					width: 47.5%;
				}

				.text {
					padding: 17px 11px 15px;

					@include media('>=tablet') {
						padding: 17px 24px 15px;
					}

					@include media('>=widescreen') {
						padding: 20px 22px;
					}
				}
			}

			.value {
				width: 60%;
				text-align: left;
				font-size: 22px;

				@include media('>=tablet') {
					font-size: 29px;
					width: 58%;
				}

				@include media('>=widescreen') {
					font-size: 40px;
					width: 52.5%;
				}

				.text {
					padding: 15px 11px 17px 20px;

					@include media('>=tablet') {
						padding: 15px 24px 17px 15px;
					}

					@include media('>=widescreen') {
						padding: 20px 22px 20px 25px;
					}
				}
			}
		}
	}

	h2, .h2 {
		text-transform: uppercase;
		margin-bottom: 40px;

		@include media ('>=widescreen') {
			margin-bottom: 78px;
		}
	}

	h3, .h3 {
		@include media ('>=widescreen') {
			margin-bottom: 32px;
		}
	}
}

.graph-box {
	border: 1px solid #a7a9ac;
	background-color: $white;

	img {
		display: block;
		width: 100%;
	}
}

.main-category {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 16px;
	line-height: 1.2;
	padding-bottom: 36px;
	margin-left: -1px;

	@include media('>=tablet') {
		font-size: 20px;
	}

	@include media('>=widescreen') {
		font-size: 28px;
	}

	@include media('>=xl-large') {
		font-size: 35px;
	}

	li {
		margin: 0 -1px -1px 0;
		width: 50%;

		@include media('>=tablet') {
			min-width: 160px;
			margin: 0 5px 20px;
			width: auto;
		}

		@include media('>=widescreen') {
			min-width: 240px;
			margin: 0 10px 20px;
		}

		@include media('>=xl-large') {
			min-width: 270px;
			margin: 0 17px 20px;
		}

		&:hover,
		&.active {
			a {
				background-color: $primary;
				color: $white;
			}
		}
	}

	a {
		@include animate(color background-color);

		display: block;
		padding: 15px 3px;
		text-decoration: none;
		background-color: $gray-100;
		border: 1px solid #a7a9ac;
		font-weight: 500;

		@include media('>=tablet') {
			padding: 15px 10px;
		}

		@include media('>=widescreen') {
			padding: 19px 15px 24px;
		}

		@include media('>=xl-large') {
		}
	}
}

.secondary-category {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 13px;
	margin-bottom: 70px;
	line-height: 1.2;

	@include media('>=tablet') {
		font-size: 16px;
	}

	@include media('>=widescreen') {
		font-size: 24px;
	}

	@include media('>=xl-large') {
		font-size: 33px;
	}

	&.list-sm {
		margin-bottom: 11px;

		li {
			@include media('>=tablet') {
				width: auto;
				min-width: 130px;
			}

			@include media('>=widescreen') {
				min-width: 200px;
			}

			@include media('>=xl-large') {
				min-width: 226px;
			}
		}
	}

	li {
		width: 50%;
		margin: 0 0 -1px -1px;
		flex-grow: 1;

		@include media('>=tablet') {
			min-width: 180px;
			width: 25%;
			flex-grow: 0;
		}

		@include media('>=widescreen') {
			min-width: 270px;
		}

		@include media('>=xl-large') {

		}

		&:hover,
		&.active {
			a {
				background-color: $primary;
				color: $white;
			}
		}
	}

	a {
		@include animate(color background-color);

		padding: 10px 3px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		background-color: $gray-100;
		border: 1px solid #a7a9ac;
		font-weight: 500;

		@include media('>=tablet') {
			padding: 10px 5px 13px;
		}

		@include media('>=widescreen') {
			padding: 13px 5px 17px;
		}

		@include media('>=xl-large') {

		}
	}
}